{% extends 'base.html.twig' %}
{% block body %}
   <h1>Ici s'affichera le dashboard de l'administration</h1>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
   <script src="{{ asset('dist/js/pages/dashboard2.js') }}"></script>
{% endblock %}
