

{% block body %}
    <div class="card" style="width: 100%;">
        <img class="card-img-top" src="{{ asset('images/agence/'~agence.photo) }}" alt="Card image cap">
        <div class="card-body">
            <p class="card-text">Details à propos de l'agence</p>
        </div>
    </div>
{% endblock %}
